/* calculator styles  */
.boolet_style::before{
    content: " ";
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--colordynamic);
    color: transparent;
    display: inline-block;
}