.content_list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  margin-bottom: 20px;
}

.link_item {
  text-decoration: none;
  color: var(--color-credit-good);
}

.link_item:hover {
  color: var(--color-credit-good);
}

.accordion_title {
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: bold;
  cursor: pointer;
}

.border_bott {
  border-bottom: 1px #ccc solid;
  padding: 10px 0px;
}

.border_top {
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  padding: 10px 0px;
}