.content_list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  margin-bottom: 20px;
}

.link_item {
  text-decoration: none;
  color: var(--color-credit-good);
}

.link_item:hover {
  color: var(--color-credit-good);
}

.accordion_title {
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: bold;
  cursor: pointer;
}

.border_bott {
  border-bottom: 1px #ccc solid;
  padding: 10px 0px;
}

.border_top {
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  padding: 10px 0px;
}

.great_30_list {
  display: flex;
  column-gap: 30px;
  align-items: center; 
}

.great_30_list p {
  margin-bottom: 0px;
}

.great_30_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
}

.chart_table_head {
  display: grid;
  padding: 0px 15px;
  border-bottom: 1px #000 solid;
  grid-template-columns: 50px repeat(6, 1fr);
  align-items: flex-end;
}

.chart_table_row {
  display: grid;
  grid-template-columns: 50px repeat(6, 1fr);
  padding: 0px 15px;
}

.header_element {
  margin-bottom: 0px;
  color: #25282a;
  font-size: 1rem;
}

.know_more_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  margin-bottom: 20px;
}

.other_mortage_container {
  background-color: #EFF4F5;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  padding: 50px 0px;

  width: 100%;
}

.mortage_container__inner {
  width: 80%;
}

.link_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
}

.disclose_container {
  list-style: none;
}

.disclose_container li {
  position: relative;
  font-size: 12px;
}

.disclose_container li::before {
  content: "";
  font-size: 15px;
  font-weight: bold;
  display: block; 
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  left: -20px;
  top: 8px;
}

@media screen and (max-width: 800px) {
  .great_30_container {
    grid-template-columns: 1fr;
  }

  .link_container {
    grid-template-columns: 1fr;
  }
}