/* button style start  */
.btn_common{
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
.btn_common:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
/* button style end  */
/* accordian style start  */
.accordian_btn{
    color: rgb(69, 174, 216);
    position: relative;
}

.accordian_btn_expand .accordian_btn_icon{
    position: absolute;
    transform: rotate(180deg);
    top: 5px;
}
/* accordian style end  */


/* link butn style  */
.link_btn_animt{
    border: 1px solid red;   
    border-radius: var(--border-radius-medium);
    font-weight: 700;
    transition: all 0.2s ease-in-out;

}
.link_btn_animt:hover{
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}


/* calculator styles  */
.calc_title{
    font-size: 40px;
    font-weight: 700;
    margin: 15px auto;
}
.cal_text{
    font-size: 16px;
}
.pieChart_container{
    width: 320px;
    height: 350px;
}

.piechart_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

}

@media screen and (min-width: 1400px) {
    .pieChart_container{
        /* width: 250px; */
    }
    
}